:root {
  --light-blue: #bbe4e9;
  --mid-blue: #79c2d0;
  --mid-green: #53a8b6;
  --dark-blue: #142d4c;
  --light-green: #9fd3c7;
  --light-beige: #fcf4d9;
  --light-gradient: linear-gradient(#fcf4d9, #142d4c);
  --light-gradient-2: linear-gradient(#bbe4e9, #53a8b6);
  --linear-gradient-3: linear-gradient(#142d4c, #79c2d0); 
}
#root {
  width:fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

html, body{
  width: fit-content;
}
div.container {
  width: fit-content;
  height: fit-content;
  margin: 0%;
  border-radius: 10PX;
  padding-top: 25PX;
  background-image: url('../public/Images/background-image.jpg');
  background-repeat: repeat-x, repeat-y; /* Se repite solo horizontalmente */
  background-position: left top;
  background-size: 100% auto;
}

div.container h1{
  margin-left: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2,
h3 {

  max-width: fit-content;
  /* Añadido un ancho máximo para dispositivos más grandes */
  margin-top:10px;
  padding-left: 10px;
  text-align: center;
  margin: 10px;
  /* Centrado */
}



.search-products h2,
.shopping-cart h2,
.pos-container h2 {

  font: 300 33px "Playfair Display", serif;
  color: var(--dark-blue);
  background: var(--light-gradient-2);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}

h3 {
  max-width: 600px;
  /* Añadido un ancho máximo para dispositivos más grandes */
}

.container div.card-header {
  align-items: center;
  width: fit-content;
  text-align: center;
  font: 300 2rem "Playfair Display", serif;
  color: var(--light-green);
  background: var(--dark-blue);
  border-radius: 10px;
  margin-bottom: 5px;
}

div.card.text-center {
  width: 450px;
  border:2px;
  background: var(--light-beige);
  color: var(--dark-blue);
  padding: 10px 10px 10px ;
  margin-bottom: 10px;
}

div.card-body {
  margin-left: 20px;
  width: 400px;
  border-radius: 10px;
  background: linear-gradient(#142d4c, #79c2d0);
}
div.card-footer.text-muted{align-self: center;
  width: fit-content;
  border-radius: 10px;
  background: linear-gradient(#142d4c, #79c2d0);
}

div.card-body .input-group-text {
  width: fit-content;
  min-width: 90px;
  height: 40px;
  background-color: var(--light-green);
  font: 550 16px "Playfair Display", serif;
  color: var(--dark-blue);
  border-radius: 10px;
  margin-right: 10px;
}

button.cart-btn {
  width: fit-content;
  font-size: small;
  font-family: "Playfair Display", Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

button.btn-success,
button.btn.btn-info,
button.btn.btn-danger {
  font: 550 15px "Playfair Display", serif;
  border-color: var(--light-green);
}

button.btn.btn-success,
button.btn.btn-info {
  background-color: var(--light-green);
  color: var(--dark-blue);
}

button.btn.btn-success:hover, button.btn.btn-info:hover {
  background-color: var(--light-beige);
  color: var(--mid-blue);
}

button.btn-danger {
  width: fit-content;
  background-color: rgb(107, 37, 37);
}

input.form-control {
  margin: 0px 10px 0px 0px;
}

tbody {
  width: fit-content;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 5px;
  justify-content: center;
  font-family: "Playfair Display", serif;
}
table.table.table-striped{
  width: fit-content;
}
table.table.table-striped th {
  background-color: var(--light-green);
  font-size: 1rem;
  width:100px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
}


 tr {
  width: 600px;
  background-color: var(--light-green);
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  justify-content: space-between;
}
.th-id{
  width: 15px;
}

.td-buttons {
  text-align: center;
  font: 600 17px "Playfair Display", serif;
  border: 1px solid #dddddd;
}

/* Resto del CSS permanece igual */

