:root {
  --light-blue: #bbe4e9;
  --mid-blue: #79c2d0;
  --mid-green: #53a8b6;
  --dark-blue: #142d4c;
  --light-green: #9fd3c7;
  --light-beige: #fcf4d9;
  --light-gradient: linear-gradient(#fcf4d9, #142d4c);
  --light-gradient-2: linear-gradient(#bbe4e9, #53a8b6);
  --linear-gradient-3: linear-gradient(#142d4c, #79c2d0); 
}


html, body{
  width: 100%;
  height: fit-content;
}

div.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0%;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10PX;
  padding: 25PX;
  background-image: url('../public/Images/background-image.jpg');
  background-size: cover;
}
div.card.text-center {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-beige);
  padding: 30px;
  margin: 20px;
}

div.card-header {
  width: 80%;
  align-items: center;
  text-align: center;
  font-family:  "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-green);
  background: var(--dark-blue);
  border-radius: 10px;
  margin: 15px;
}


div.card-body {
  margin-left: 20px;
  width: 60%;
  margin: 20px;
  border-radius: 10px;
  background: linear-gradient(#142d4c, #79c2d0);
}
div.card-footer.text-muted{align-self: center;
  width: fit-content;
  border-radius: 10px;
  background: linear-gradient(#142d4c, #79c2d0);
}

div.card-body .input-group-text {
  width: fit-content;
  min-width: 90px;
  height: 40px;
  background-color: var(--light-green);
  font: 550 16px "Playfair Display", serif;
  color: var(--dark-blue);
  border-radius: 10px;
  margin-right: 10px;
}

button.cart-btn {
  width: fit-content;
  font-size: small;
  font-family: "Playfair Display", Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

button.btn-success,
button.btn.btn-info,
button.btn.btn-danger {
  font: 550 15px "Playfair Display", serif;
  border-color: var(--light-green);
}

button.btn.btn-success,
button.btn.btn-info {
  background-color: var(--light-green);
  color: var(--dark-blue);
}

button.btn.btn-success:hover, button.btn.btn-info:hover {
  background-color: var(--light-beige);
  color: var(--mid-blue);
}

button.btn-danger {
  width: fit-content;
  background-color: rgb(107, 37, 37);
}

input.form-control {
  margin: 0px 10px 0px 0px;
}
thead{
  width: 80%;
}

tbody {
  width: fit-content;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 5px;
  justify-content: center;
  font-family: "Playfair Display", serif;
}
table.table.table-striped{
    width: 80%;
    margin: 30px;
    border-radius: 10px;
 
}
table.table.table-striped th {
  width:fit-content;
  height: fit-content;
  background-color: var(--light-green);
  font-size: 1rem;
  padding: 5px;
  border-radius: 15px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
}


table.table.table-striped tr {
  width:fit-content;
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;}
  
table.table.table-striped td{

  width: fit-content;
  height: auto;
}
.td-buttons {
  text-align: center;
  font: 600 17px "Playfair Display", serif;
  border: 1px solid #dddddd;
}


