:root {
  --light-blue: #bbe4e9;
  --mid-blue: #79c2d0;
  --mid-green: #53a8b6;
  --dark-blue: #142d4c;
  --light-green: #9fd3c7;
  --light-beige: #fcf4d94f;
  --light-gradient: linear-gradient(#fcf4d9, #142d4c);
  --light-gradient-2: linear-gradient(#bbe4e9, #53a8b6);
}

div.landing-page {
  width: 90%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--light-beige);
  
}

header {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;

}


header h1 {
  width: 80%;
  height: fit-content;
  padding: 5px;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  color: var(--dark-blue);
  background: var(--light-gradient-2);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #34495e;
  margin-bottom: 5px;
}

div.search-products {
  display: flex;
  width: 100%;
  margin: 40px;
  justify-content: left;
  align-items: center;

}

.search-products h2 {
  width: 20%;
  height: auto;
  padding: 3px;
  margin-right: 20px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  color: var(--dark-blue);
  background: var(--light-gradient-2);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #34495e;
  margin-bottom: 5px;

}

div.shopping-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  justify-content: center;
  align-items: center;

}

.shopping-cart h2 {
  width: 20%;
  height: auto;
  padding: 3px;
  margin-right: 20px;

  font-size: 2rem;
  text-align: center;
  align-self: center;
  color: var(--dark-blue);
  background: var(--light-gradient-2);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #34495e;
  margin-bottom: 5px;

}
.shopping-cart li{
  margin: 10px;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  font-weight: 300;
  width: fit-content;
  border-radius: 10px;
  padding-left: 15px;
  background-color: var(--light-beige);
  color: var(--darker-blue);
}

.shopping-cart div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
}



.shopping-cart p {
  width: 50%;
  height: auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: white;
  color: var(--darker-blue);
  padding: 0%;
  margin: 5px;
  border-radius: 10px;
}

input {
  font-size: 1rem;
  width: fit-content;
  max-width: 800px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 10px;

}


ul {
  font-family: "Playfair Display", serif;
  padding-left: 0%;
  border-radius: 10px;
  width: fit-content;
  font-size: 1.5rem;
}

label {
  font-family: "Playfair Display", serif;
}



button.cart-btn {
  margin: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  background-color: var(--light-green);
  color: var(--dark-blue);

}

button.cart-btn:hover {
  background: var(--light-beige);
  color: var(--dark-blue);
  border: 2px solid var(--mid-blue);
}

/* Comentario descriptivo opcional */
/* Sección de Estilos para el Landing Page */